<div class="light-frame">
  <% if @lights.present? %>
    <% @lights.each do |light| %>
      <div class="col-md-3 col-xs-4 col-sm-3 light-frame-position">
        <%= render_light_status(light) %>
        <%= light.title %>
        <%= link_to(content_tag(:i, "", class: "fa fa-pencil-square-o "), edit_admin_scene_light_path(@scene,light))%>
        <%= link_to(content_tag(:i, "", class: "fa fa-trash"), admin_scene_light_path(@scene,light),method: :delete, data: {confirm: "你确定要删除吗？"})%>
      </div>

    <% end %>
  <% end %>
</div>

<div class="switch-frame">
  <% if @switches.present? %>
    <% @switches.each do |switch| %>
      <div class="col-md-3 col-xs-4 col-sm-3 switch-frame-position">
        <%= link_to light_toggle_scene_switch_path(@scene,switch),method: :post do  %>
          <%= render_switch_status(switch) %>
        <% end %>
        <%= switch.title %>
        <%= link_to(content_tag(:i, "", class: "fa fa-pencil-square-o "), edit_admin_scene_switch_path(@scene,switch))%>
        <%= link_to(content_tag(:i, "", class: "fa fa-trash"), admin_scene_switch_path(@scene,switch),method: :delete, data: {confirm: "你确定要删除吗？"})%>
      </div>
    <% end %>
  <% end %>
</div>

<div class="operate-scene">
  <%=link_to("创建开关", new_admin_scene_switch_path(@scene))%>
  <%= link_to("创建指示灯", new_admin_scene_light_path(@scene))%>
</div>
